{% extends 'base.html' %} {% load static %} 
{% block content %}
<h2>REKII TOOL ONLINE</h2>

<form action="process/" method="post">
    {% csrf_token %}
    <label for="host-ip">Host IP:</label>
    <input type="text" id="host-ip" name="host-ip" placeholder='http://localhost:5173'>
    
    <label for="schema-name">Schema name:</label>
    <input type="text" id="schema-name" name="schema-name" placeholder='http://localhost:5173'> <br /> <br />
    

    <h5>SCHEMA INPUT</h5>

    <label for="element-type">Choose Element Type or Redirect:</label>
    <select id="element-type" name="element-type">
        <option value="none">Please Choose</option>
        {% for i in element_type %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
 
    <label for="url-value">Url target:</label>
    <input type="text" id="url-value" name="url-value" />

    <label for="element-value">Element value:</label>
    <input type="text" id="element-value" name="element-value" />

    <label for="action-type">Action type:</label>
    <select id="action-type" name="action-type">
        <option value="none">Choose Action</option>
        {% for i in action_type %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>

    <label for="typing">Typing:</label>
    <input type="text" id="typing" name="typing" />

    <label for="key">Key:</label>
    <select id="key" name="key">
        <option value="none">Choose</option>
        <option value="click">click</option>
        <option value="enter">enter</option>
    </select>
    

    <label for="time-wait">Time wait(s):</label>
    <input type="text" id="time-wait" style='width:50px' name="time-wait" />

    <h5>SCHEMA OUTPUT</h5>

    <input type="submit" value="Submit">


</form>
<script>
    let dropdown = document.getElementById("element-type");
    dropdown.addEventListener("change", function() {
        let selectedValue = dropdown.value;
        console.log(selectedValue)
        let url_field = document.getElementById("url-value");
        let element_value_field = document.getElementById("element-value");
        let action_type_field = document.getElementById("action-type");
        let typing_field = document.getElementById("typing");
        let key_field = document.getElementById("key");

        if (selectedValue !== 'redirect') {
            url_field.disabled = true;
            element_value_field.disabled = false;
            action_type_field.disabled = false;
            typing_field.disabled = false;
            key_field.disabled = false;
        }

        if (selectedValue === 'redirect') {
            url_field.disabled = false;
            element_value_field.disabled = true;
            action_type_field.disabled = true;
            typing_field.disabled = true;
            key_field.disabled = true;
        }

  });
</script>

<script>
    let dropdown2 = document.getElementById("action-type");
    dropdown2.addEventListener("change", function() {
    let selectedValue = dropdown2.value;
    console.log(selectedValue)
    let typing_field = document.getElementById("typing");
    let key_field = document.getElementById("key");


    if (selectedValue === 'type') {
        typing_field.disabled = false;
        key_field.disabled = true;
    }

    if (selectedValue === 'key') {
        typing_field.disabled = true;
        key_field.disabled = false;
    }

  });
</script>

{%endblock content %}
